    <section class="container-parceiros">    
        <div class="parceria">
                <div class="contato-phone">
                    <h3>Fale com o nosso time de especialistas</h3>
                    <p>Nós apresentamos as melhores soluções digitais para seu negócio.</p>
                    <a href=""><img src="../../assets/img/phone.png"/></a>
                </div>

                <div class="parceiros">
                    <h3>Quem confia na gente</h3>
                    <ul class="lista-parceiros">
                        <li>
                            <img src="../../assets/img/americafordlogo.png" alt="america ford" />
                        </li>
                        <li>
                            <img src="../../assets/img/audi-center-recife.png" alt="audi center" />
                        </li>
                        <li>
                            <img src="../../assets/img/baterias-moura-logo.png" alt="baterias-moura-logo" />
                        </li>
                        <li>
                            <img src="../../assets/img/e48aecf29c73c4114c5844dbeb680374.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/fiori-fiat.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/fiori-jeep.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/logo-2020062210263504900.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/jaguar-way.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/mardisa.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/muma.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/queirozpng.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/toyolex.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/unnamed.png" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/way-jaguar.png" alt="" />
                        </li>
                    </ul>
                </div>
        </div>


        <div class="beneficios">
            <div class="benef-mobile">
                <div class="beneficio-text">
                    <h3>Conquiste mais clientes com digital</h3>
                    <p>Solução digital de vendas para você ter mais leads e vender mais.</p>
                </div>
                <select>
                    <option selected>Com a Jogga você terá:</option>
                    <option> option 01</option>
                    <option> option 02</option>
                </select>
                <div class="beneficios-img">
                    <img src="../../assets/img/Retângulo 2502.png" alt="tela amarela"/>
                    <img class="homem" src="../../assets/img/homem.png" alt="homem sentado em uma mesa com computador"/>
                </div>
            </div>
           
            <div class="beneficios-list">
                <h3>Com a Jogga você terá</h3>
                <ul class="list-check">
                    <li>
                        <img src="" alt="check">
                        <p>Site otimizado para geração de leads.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Anúncios nas principais mídias sociais com objetivo de converter usuários em leads.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Equipe especializada em mídia digital responsável pelo planejamento, execução, análise e otimização de suas campanhas.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Banco de dados com todas as chamadas recebidas.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Painel de controle para visualizar dados de suas chamadas, leads gerados, canais, total investido, retorno sobre investimento e mais!</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Integração com as principais plataformas de CRM.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Equipe de criação para produção de peças destinadas exclusivamente à anúncios.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Relatórios individuais.</p>
                    </li>
                    <li>
                        <img src="" alt="check">
                        <p>Atendimento especializado de uma empresa <strong>Google Premier Partner e Facebook Marketing Partner</strong> </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>