<section class='tela'>
    
    <div class="logo">
        <img src="../../assets/img/logo.png" alt="logo jogga">
    </div>

    <div class="container02">
        
            <img class="mulher-logo" src="../../assets/img/mulher.png" alt="mulher com celular na mão"/>
            
            <div class="Slogan">

                <h1>Conquiste mais clientes a um clique de distância</h1>

                <div class="socialMedias">
                    <a href="#" target="_blanck">
                        <img src="../../assets/img/facebook.png">
                    </a>
                    <a href="#" target="_blanck">
                        <img src="../../assets/img/googlePartner.png">
                    </a>
                </div>
            </div>
    </div>
    

   
</section>