<header class="logo">
    <img src="../../assets/img/logo.png" alt="logo jogga">
</header>

<section class='tela'>
    
    <div class="container02">
        
            <img class="mulher-logo" src="../../assets/img/mulher.png" alt="mulher com celular na mão"/>
            <div class="Slogan">
                <div class="text-slogan">
                   <h1>Conquiste mais clientes a um clique de distância</h1>
                   <p>Use anúncios no <span>facebook, intagram</span> e <span>google</span> e apareça para os clientes certos, nos locais certos.</p>
                </div>
                <div class="socialMedias">
                    <a href="#" target="_blanck">
                        <img src="../../assets/img/facebook.png">
                    </a>
                    <a href="#" target="_blanck">
                        <img src="../../assets/img/googlePartner.png">
                    </a>
                </div>
            </div> 
    </div>

    <div>
        <card-cadastro></card-cadastro>
    </div>
    
</section>