* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.tela {
    width: 100%;
    background: #f5e197;
}

.logo {
    padding: 2rem;
    text-align: center;
    background: #f5e197
}

.logo img {
    width: 7rem;
}

.container02 {
    display: flex;
    justify-content: space-between;
    
}

.mulher-logo {
    width: 160px; 
}

.Slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.text-slogan h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.text-slogan p {
    display: none;
}

.text-slogan span {
    text-transform: uppercase;
}

.socialMedias img{
    padding-top: 40px;
    width: 70px;

}

@media(min-width: 375px) {
    .mulher-logo {
        width: 200px; 
    }
}

@media(min-width: 425px) {
    .mulher-logo {
        width: 240px;  
    }

    .socialMedias img {
        width: 80px;
    }

}


@media(min-width: 768px) {
    .mulher-logo {
        width: 280px;  
    }
    .tela {
        display: flex;
        justify-content: space-evenly;
    }

    .container02 {
        margin-right: 15px;
    }

    .text-slogan p {
        display: block;
        font-weight: bold;
        font-size: 13px;
        padding: 15px 0;
    }


}


@media(min-width: 1024px) {
    .mulher-logo {
        width: 380px;  
    }


    .text-slogan h1 {
        width: 70%;
        font-size: 28px;
    }

    .socialMedias img {
        width: 6rem;
    }

    .logo img {
        width: 10rem;
    }
}

@media(min-width: 1280px) {
    .socialMedias img {
        width: 7rem;
    }

     .text-slogan p {
         width: 70%;
         font-size: 15px
     }
}







