    <section class="metodos-jogga">

                <div class="divulgacao-empresas">
                    <h3>Como podemos ajudar</h3>
                </div>

                <div class="info">
                    <p>O Brasil tem mais de 150 milhões de usuários online, em redes sociais e consultando informaçoes antes de compra. Nossa solução traz seu negócio para o ambiente digital, melhorando a eficiência de seus resultadose dando acesso ás informações necessarias para cada venda.</p>
                </div>

                <ul class="lista-processos">
                    <li>
                        <img src="../../assets/img/anuncio-face-insta-google.png" alt=""/>
                        <p>Anúncios no facebook,instagram,google e outros</p>
                    </li>
                    <li>
                        <img src="../../assets/img/sites-otimizados.png" alt=""/>
                        <p>Site otimizado para vendas</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Integração com CRM.png" alt=""/>
                        <p>Integração com CRM*</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Painel de resultados em tempo real.png" alt=""/>
                        <p>Painel de resultados em tempo real</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Banco de chamadas recebidas.png" alt=""/>
                        <p>Banco de chamadas recebidas</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Planejamento de anúncios.png" alt=""/>
                        <p>Planejamento de anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Criação de artes de anúncios.png" alt=""/>
                        <p>Criação de artes de anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Relatórios individuais.png" alt=""/>
                        <p>Relatórios individuais</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Otimizações dos anúncios.png" alt=""/>
                        <p>Otimizações dos anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Suporte especializado.png" alt=""/>
                        <p>Suporte especializado</p>
                    </li>
                </ul>

    </section>


    <section class="empresa-serviços">
                <div class="servicos">
                    <h3>Nossos Serviços</h3>
                    <p>Na Jogga, nós entendemos a importância de cada venda. Por isso, criamos uma solução completa para atrair novos clientes. Assim, você e sua equipe se preocupem apenas em fechar negócios.</p>
                </div>
                
                <cards></cards>

                <div class="parceria">
                     <div class="contato-phone">
                        <h3>Fale com o nosso time de especialistas</h3>
                        <p>Nós apresentamos as melhores soluções digitais para seu negócio.</p>
                        <a href=""><img src="../../assets/img/phone.png"/></a>
                    </div>

                    <div class="parceiros">
                        <h3>Quem confia na gente</h3>

                        <ul class="lista-parceiros">
                            <li>
                                <img src="../../assets/img/americafordlogo.png" alt="america ford" />
                            </li>
                            <li>
                                <img src="../../assets/img/audi-center-recife.png" alt="audi center" />
                            </li>
                            <li>
                                <img src="../../assets/img/baterias-moura-logo.png" alt="baterias-moura-logo" />
                            </li>
                            <li>
                                <img src="../../assets/img/e48aecf29c73c4114c5844dbeb680374.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/fiori-fiat.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/fiori-jeep.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/logo-2020062210263504900.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/jaguar-way.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/mardisa.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/muma.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/queirozpng.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/toyolex.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/unnamed.png" alt="" />
                            </li>
                            <li>
                                <img src="../../assets/img/way-jaguar.png" alt="" />
                            </li>
                        </ul>
                    </div>

                </div>

                    <div class="beneficios">
                        <h3>Conquiste mais clientes com digital</h3>
                        <p>Solução digital de vendas para você ter mais leads e vender mais.</p>
                        <select>
                            <option selected>Com a Jogga você terá:</option>
                            <option> option 01</option>
                            <option> option 02</option>
                        </select>
                    </div>

                    <div class="contato-wpp">
                        <h3>Fale com o nosso time de especialistas</h3>
                        <p>Nós apresentamos as melhores soluções digitais para seu negócio.</p>
                        <a href=""><img src="../../assets/img/whats.png"/></a>
                    </div>

    </section>
