.metodos-jogga{
    background: #f8f7f2;

}

.divulgacao-empresas {
    width: 250px;
    height: 4rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fcd64f;
    background: #231f20;
}

.divulgacao-empresas h3 {
    font-size: 18px;
    font-weight: bold;
}

.info {
    padding: 25px;
    font-size: 17px;
}

.lista-processos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.lista-processos li {
    width: 10rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-processos p {
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}


@media(min-width: 768px) {
    .divulgacao-empresas {
        float: left;
        position: absolute;
        top: 37rem;
        height: 5rem;
    }

    .info {
        margin-left: 15rem;
        padding-top: 50px;
    }

    .lista-processos li  {
        width: 13rem;
    }

    .lista-processos {
        width: 80%;
        justify-content: center;
        padding-left: 150px;
    }

    
}

@media(min-width: 1024px) {
    .divulgacao-empresas {
        top: 39rem;
    }

    .info {
        display: flex;
        padding: 18px  30px;
        
    }

    .info p {
        margin-left: 30px;
        width: 90%;
    }

    .lista-processos {
        width: 100%;
        padding: 0;
    }

}

@media(min-width: 1280px) {

    .info p {
        width: 80%;
    }
    .lista-processos {
        width: 90%;
        padding-left: 100px;
    }

}
