    <section class="metodos-jogga">

                <div class="divulgacao-empresas">
                    <h3>Como podemos ajudar</h3>
                </div>

                <div class="info">
                    <p>O Brasil tem mais de 150 milhões de usuários online, em redes sociais e consultando informaçoes antes de compra. Nossa solução traz seu negócio para o ambiente digital, melhorando a eficiência de seus resultadose dando acesso ás informações necessarias para cada venda.</p>
                </div>

                <ul class="lista-processos">
                    <li>
                        <img src="../../assets/img/anuncio-face-insta-google.png" alt=""/>
                        <p>Anúncios no facebook,instagram,google e outros</p>
                    </li>
                    <li>
                        <img src="../../assets/img/sites-otimizados.png" alt=""/>
                        <p>Site otimizado para vendas</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Integração com CRM.png" alt=""/>
                        <p>Integração com CRM*</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Painel de resultados em tempo real.png" alt=""/>
                        <p>Painel de resultados em tempo real</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Banco de chamadas recebidas.png" alt=""/>
                        <p>Banco de chamadas recebidas</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Planejamento de anúncios.png" alt=""/>
                        <p>Planejamento de anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Criação de artes de anúncios.png" alt=""/>
                        <p>Criação de artes de anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Relatórios individuais.png" alt=""/>
                        <p>Relatórios individuais</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Otimizações dos anúncios.png" alt=""/>
                        <p>Otimizações dos anúncios</p>
                    </li>
                    <li>
                        <img src="../../assets/img/Suporte especializado.png" alt=""/>
                        <p>Suporte especializado</p>
                    </li>
                </ul>

    </section>



                
                   

