<section class="nossos-serviços">
        <div class="servicos">
          <h3>Nossos Serviços</h3>
          <p>Na Jogga, nós entendemos a importância de cada venda. Por isso, criamos uma solução completa para atrair novos clientes. Assim, você e sua equipe se preocupem apenas em fechar negócios.</p>
        </div>
</section>



<!-- <carousel>
            <div class="carousel-cell">
                <img class="" src="../../assets/img/computador.png" alt="">
                <div class="textos"> 
                  <h5 class="">Anúncios no facebook,instagram e outros</h5>
                  <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
                </div>
            </div>

            <div class="carousel-cell">
                <img class="" src="../../assets/img/img1.png" alt="">
                <div class=""> 
                    <h5 class="">Anúncios no facebook,instagram e outros</h5>
                    <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
                </div>
            </div>

            <div class="carousel-cell">
              <img class="" src="../../assets/img/img3.png" alt="">
              <div class="textos"> 
                  <h5 class="">Anúncios no facebook,instagram e outros</h5>
                  <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
              </div>
            </div>

            <div class="carousel-cell">
              <img class="" src="../../assets/img/img4.png" alt="">
              <div class="textos"> 
                  <h5 class="">Anúncios no facebook,instagram e outros</h5>
                  <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
              </div>
            </div>

            <div class="carousel-cell">
              <img class="" src="../../assets/img/img5.png" alt="">
              <div class="textos"> 
                  <h5 class="">Anúncios no facebook,instagram e outros</h5>
                  <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
              </div>
            </div>

            
            <div class="carousel-cell">
              <img class="" src="../../assets/img/img6.png" alt="">
              <div class="textos"> 
                  <h5 class="">Anúncios no facebook,instagram e outros</h5>
                  <p class="">Anúncios planejados para engajar usuários a entrarem no seu site, enviarem mensagem para Whatsapp ou ligarem para sua empresa.</p>
              </div>
            </div>
  
</carousel> -->



