/* .carrossel {
    display: flex;
    
}

.card-slide {
    margin: 0 10px;
}

.textos {
    font-size: 12px;
} */
/* 
.card-slide {
    width: 300px;
}

.card-img-top {
    height: 200px;
}

.card-body {
    height: 150px;
} */





